﻿@page
@model RazorPagesDemo.Web.Pages.Contacts.IndexModel
@{
    ViewData["Title"] = "Contacts";
}

<h1>@ViewData["Title"]</h1>
@if (Model.GetContactsResult?.Any() == true)
{
    @foreach (var c in Model.GetContactsResult) 
    { 
        <p>
            @c.FirstName&nbsp;@c.LastName
        </p>
    }
}
else
{
    <p>There are no contacts to display.</p>
}

